<app-header></app-header>

<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">Page not found</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div id="edd_checkout_wrap" class="col-md-8 col-md-offset-2">
            <span class="maxproduct"><img src="../assets/images/404.jpg" alt="" class='center' ></span>
        </div>
    </div>
    </section>

<app-footer></app-footer>
